body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--windi-text);
  background-color: var(--windi-bg);
}

html {
  font-size: 16px;
  overflow-y: overlay;
}


button {
  @apply focus:outline-none;
}

// scrollbar
*::-webkit-scrollbar {
  @apply bg-transparent w-6px h-6px;
}

*::-webkit-scrollbar-thumb {
  transition: background .2s ease-in-out;
  @apply bg-transparent rounded-full;
}

*::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

*:hover::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-dark-200;
}

// vue transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.collapse-enter-active,
.collapse-leave-active {
  transition:max-height 0.3s ease-out;
  height:auto;
  max-height:300px;
  overflow:hidden;
}

.collapse-enter-from,
.collapse-leave-to {
  max-height:0;
}