:root {
  --header-height: 4rem;
  --full-header: calc(100vh - var(--header-height));
  --font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@screen md {
  :root {
    --header-height: 4.5rem;
  }
}

html {
  --windi-bg: theme('colors.light.100');
  --windi-hover-bg: theme('colors.light.400');
  --windi-text: theme('colors.gray.800');
  --windi-bc: theme('colors.gray.200');
}

html.dark {
  --windi-bg: theme('colors.dark.800');
  --windi-hover-bg: theme('colors.dark.300');
  --windi-text: theme('colors.gray.100');
  --windi-bc: theme('colors.dark.300');
}