.cm-editor {
  height: 100%;
  width: 100%;
  color: var(--prism-foreground);
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-scroller {
  outline: none;
}

.cm-editor.cm-focused .cm-selectionBackground, .cm-editor ::selection {
  background-color: var(--prism-selection-background);
}
.cm-editor.cm-focused .cm-cursor {
  padding-right: 2px;
  border-left-color: var(--prism-foreground);
}

.cm-selectionBackground {
  background: var(--prism-selection-background);
}

.cm-editor .cm-gutters {
  background: transparent;
  border-right: none;
  padding: 0 0.5rem;
}
.cm-editor .cm-foldPlaceholder {
  background: transparent;
  border: 1px solid var(--prism-punctuation);
  color: var(--prism-punctuation);
  margin: 1px 4px;
}

.cmt-link,
.cmt-url {
  text-decoration: var(--prism-url-decoration);
}

.cmt-heading {}

.cmt-emphasis,
.cmt-strong,
.cmt-keyword {
  color: var(--prism-keyword-control);
}
.cmt-strong {
  font-weight: bold;
}


.cmt-atom {}

.cmt-bool {
  color: var(--prism-boolean);
}

.cmt-labelName {}
.cmt-inserted {}

.cmt-deleted {
  color: var(--prism-deleted);
}

.cmt-literal {
  color: var(--prism-literal);
}

.cmt-string {
  /* color: var(--prism-string); */
  color: var(--prism-selector);
}

.cmt-number {
  color: var(--prism-number);
}

.cmt-string2 {
  color: var(--prism-regex);
}

.cmt-variableName,
.cmt-variableName.cmt-local,
.cmt-variableName2 {
  color: var(--prism-variable);
}

.cmt-variableName.cmt-definition {
  color: var(--prism-decorator);
}

.cmt-typeName {
  color: var(--prism-builtin);
}

.cmt-namespace {
  color: var(--prism-namespace);
}

.cmt-macroName {}

.cmt-propertyName,
.cmt-meta {
  color: var(--prism-property);
}

.cmt-operator {
  color: var(--prism-operator);
}

.cmt-comment {
  color: var(--prism-comment);
  font-style: var(--prism-comment-style);
}

.cmt-invalid {}

.cmt-punctuation {
  color: var(--prism-punctuation);
}
