name: Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [14]
        
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          registry-url: https://registry.npmjs.org/

      - name: Setup cache
        uses: actions/cache@v2
        id: pnpm-cache
        with:
          path: ${{ runner.os == 'windows-latest' && '%userprofile%\.pnpm-store' || '~/.pnpm-store' }}
          key: ${{ runner.os }}-${{ matrix.node }}-pnpm-v3-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node }}-pnpm-v3-

      - name: Install dependencies
        run: |
          npm i -g pnpm @antfu/ni
          nci

      - name: Test
        run: nr test --if-present

      - name: Build
        run: nr build-all

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js v14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Setup
        run: npm i -g pnpm @antfu/ni

      - name: Install
        run: nci

      - name: Lint
        run: nr lint --if-present
